body{
    background-color: rgb(3, 3, 51);
}
#Vault-container{
    border: 1px solid lightblue;;
}
.button{
    height: 100px;
    width: 75px;
    font-size: 30px;
    display: inline;
}
#vault{

}
#button-container{
    font-family: arial;
    font-size: 75px;
    color: white;
    border: 1px solid yellow;
    float: left 100px;
}
#greenlight{
    border: 1px solid green;
    width: 500px;
    height: 30px;
    margin-left: 200px;
    background-color: green;
}
#redlight{
    border: 1px solid red;
    width: 500px;
    height: 30px;
    float: right;
    margin-right: 200px;
    background-color: darkred;
}
